.camperDetails {
  padding-right: 4.4vw;
  padding-left: 4.4vw;
  padding-top: 48px;
}

.camperTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
}

.containerRatingLocation {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.star {
  width: 16px;
  height: 16px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 28px;
}

.imageGalleryList {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 28px;
}

.imgGallery {
  width: 292px;
  height: 312px;
  object-fit: cover;
  border-radius: 10px;
}

.description {
  color: #475467;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 60px;
}

.listFeaturesReviewsNav {
  display: flex;
  gap: 40px;
}

.listFeaturesReviewsNavItem {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
