.containerCatalog {
  display: flex;
  gap: 4.4vw;
  padding-top: 48px;
  padding-right: 4.4vw;
  padding-left: 4.4vw;
}

.location {
  margin-bottom: 40px;
}

.labelLocation {
  color: #6c717b;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.inputLocation {
  width: 25vw;
  height: 56px;
  padding-left: 1.4vw;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #f7f7f7;
  outline: none;
}

.iconLocation {
  width: 20px;
  height: 20px;
  color: black;
}

.labelFilters {
  color: #475467;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.line {
  border: 1px solid #d3d3d3;
  margin-top: 24px;
  margin-bottom: 24px;
}
