.containerCatalog {
  display: flex;
  gap: 4.4vw;
  padding-top: 48px;
  padding-right: 4.4vw;
  padding-left: 4.4vw;
}

.location {
  margin-bottom: 40px;
}

.labelLocation {
  color: #6c717b;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.inputLocation {
  width: 25vw;
  height: 56px;
  padding-left: 1.4vw;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #f7f7f7;
  outline: none;
}

.iconLocation {
  width: 20px;
  height: 20px;
  color: black;
}

.labelFilters {
  color: #475467;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.titleType {
  margin-top: 32px;
}

.line {
  border: 1px solid #d3d3d3;
  margin-top: 24px;
  margin-bottom: 24px;
}

.checkboxGroup {
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
}

.checkbox input {
  display: none;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  width: 112px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #d3d3d3;
  border-radius: 12px;
}

.icon {
  width: 32px;
  height: 32px;
}

.searchButton {
  display: flex;
  width: 166px;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #e44848;
  color: #fff;
  border-radius: 200px;
  margin-top: 40px;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #d84343;
}

/* ______________________________________ */

.mainContentCatalog {
  width: 100%;
}

.listCatalog {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  max-height: 368px;

  max-width: 100%;
}

.listItemCatalog {
  display: flex;
  gap: 1.7vw;
  border: 1px solid #d3d3d3;
  padding: 24px;
  border-radius: 20px;
}

.imgListCatalog {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.contentListCatalog {
  width: 100%;
}

.containerTitlePrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleCamper {
  color: #101828;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
}

.containerPriceFavorite {
  display: flex;
  gap: 12px;
  align-items: center;
}

.priceCamper {
  color: #101828;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.heartImg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.containerReviewsLocation {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 24px;
}

.containerReviews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.starImgYellow {
  width: 16px;
  height: 16px;
}

.containerLocation {
  display: flex;
  gap: 4px;
  margin-left: 16px;
}

.locationImg {
  width: 20px;
  height: 20px;
}

.locationItem {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.descriptionItem {
  white-space: nowrap;
  overflow: hidden;
  color: #475467;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  max-width: 36.5vw;
}

.listFeatures {
  display: flex;
  column-gap: 0.6vw;
  row-gap: 0.6vw;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.listFeaturesItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #f2f4f7;
  padding: 12px 18px;
  border-radius: 100px;
}

.iconFeatures {
  width: 24px;
  height: 24px;
}

.featuresItem {
  text-transform: capitalize;
}

.showMore {
  background-color: #e44848;
  padding: 16px 40px;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.showMore:hover {
  background-color: #d84343;
}
